// SASS Built-in Functions

$clr1: hsla(123, 50%, 50%, 0.9);
$clr2: #934599;

$alpha: alpha($clr1);
$h: hue($clr1);
$s: saturation($clr2);
$l: lightness($clr2); 
$red: red($clr1);


.rainbow{
    color: fade-in($clr1, 0.2);
    color: fade-out($clr1, 0.3);
    color: adjust-hue($clr1, 90deg);
    color: lighten($clr1, 30%);
    color: darken($clr2, 40%);
    color: saturate($clr2, 10%);
    color: desaturate($clr2, 10%);
    color: grayscale($clr2);
    color: complement($clr2);
    color: invert($clr1);
    
    content: $alpha $h $s $l $red;
    /*************************
    Other functions include
    percentage($num)
    round($num)
    ceil($num)
    floor($num)
    min($nums...)
    max($nums...)
    random(), random($limit)
    *************************/
}