$color: blue;
$color-accent: lightblue;
$color-accent2: #3cc6f0;
$color-accent3: #53e992;

$color-dark: lightblue;
$color-darkaccent: blue;
$color-darkaccent2: #53e992;
$color-darkaccent3: #3cc6f0;  
