@import "vars", "defaults", "functions";

// DataTypes and Operators
/****
Numbers 1.2  34  1px
Strings 'a' "d" c
Colors #333 #454545 rgb rgba
    hsl hsla khaki
Booleans  true false
null    null
lists  asdf, asdf, asdf
maps   (k1: v1, k2: v2)
function references
relational operator (numbers)
< > <=  >=
equality operator (any)
!= ==
mathematical operator
+ - * / %
****/

.fred{
    width: 200px * 2;
    padding: 1.5rem / 2 + 4;
}


h1{
    color: $color;
    font-size: double($lg);
}
main>p{
    color: $color;
    font: {
        family: $serif;
        size: $md;
    }
}
footer p a{
    color: $grey;
    font-size: 0.9rem;
}

.warn{
    color: $bad;
}