// ----
// Sass (vundefined)
// Compass (vundefined)
// dart-sass (v1.6.2)
// ----

$color: #bada55;
$grey: #ddd;
$bad: #991010;
$small: 1rem;
$med: 1.5rem;
$lg: 2.0rem;
$serif: 'Times New Roman', Palatino, serif;
$sans: Arial, Helvetica, sans-serif;
// SASS @extend
.warn{
    color: $bad;
    font-size: $med;
}
.error{
    @extend .warn;
    background-color: lighten($bad, 40%);
}
.criticalError{
    @extend .error;
    border-top: 2px solid $bad;
    border-bottom: 2px solid $bad;
    font-size: $lg;
}
a{
  color: $color;
  &:hover{
    text-decoration: underline;
  }
}
.link{
  font-size: $lg;
  border: 1px solid pink;
  @extend a
}