@import "vars", "defaults", "functions", "colors";  

//Interpolation
// #{} 

$b: "border";
$s: "side";

//aside .side-ad{
//    box-sizing: border-box;
//    border-width: 2px;
//}

a#{$s} .#{$s}-ad{
    box-sizing: #{$b}-box;
    #{$b}-width: 2px;
}

h1{
    color: $color;
    font-size: double($lg);
}
main>p{
    color: $color;
    font: {
        family: $serif;
        size: $md;
    }
}
footer p a{
    color: $grey;
    font-size: 0.9rem;
}

.warn{
    color: $bad;
}