:root {
    // background colors
    --defBackground: lightgray;
    --defNavBackground: Darkgray;
    --navBgColorLight: darkgreen;
    --navBgColorDark: lightgreen;

    // text colors
    --defTextColor: white;
}